@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
:root {
  --basic-color: steelblue;
  --sac-color: lightblue;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--basic-color);
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  background-color: rgba(0, 0, 0, 0.404);
  padding: 20px 40px;
  border-radius: 5px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    color: var(--sac-color);
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: var(--sac-color);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin: 20px 0;
  }
  .btn:focus {
    outline: 0;
    transform: scale(0.9);
  }
}

.form-control {
  position: relative;
  input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    padding: 15px 0;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 16px;
  }
  input:focus,
  input:valid {
    outline: 0;
    border-bottom-color: var(--sac-color);
  }
  input:focus + label span,
  input:valid + label span {
    transform: translateY(-30px);
  }
  label {
    position: absolute;
    top: 15px;
    left: 0;
  }
  label span {
    display: inline-block;
    transition: transform 0.3s ease-in;
  }
}
